<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=ncstorageserverlessarch;AccountKey=nP0WiS5z1v+sfUHV5KEFtqaME29XECFUGMUIstQux/uceqjvW5GNDFoJJskJ+cAqKtDcchBiLMBFYzIURTweJQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>